/*
	@name iphone_8___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 375px; width: 375px; height: 667px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_iphone_8___1_ek1 {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 667px;
}

#_bg__iphone_8___1_ek2 {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 667px;
	background:rgba(255,255,255,1);
}


#ellipse_1 {
	top: 23px;
	left: 20px;
	width: 34px;
	height: 34px;
	-ms-border-radius: 17px / 17px;
	-o-border-radius: 17px / 17px;
	-moz-border-radius: 17px / 17px;
	-webkit-border-radius: 17px / 17px;
	border-radius: 17px / 17px;
	background:rgba(217,217,217,1);
}


#rectangle_4 {
	top: 89px;
	left: 20px;
	width: 335px;
	height: 136px;
}


#rectangle_5 {
	top: 284px;
	left: 18px;
	width: 150px;
	height: 150px;
}


#rectangle_6 {
	top: 284px;
	left: 208px;
	width: 150px;
	height: 150px;
}


#moscow_t_shirt {
	top: 446px;
	left: 31px;
	width: 134px;
	height: 29px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#_1349 {
	top: 499px;
	left: 29px;
	width: 140px;
	height: 63px;
	overflow: hidden;
	font-family: Genos;
	font-size: 32px;
	text-align: center;
	color:#000000;
}


#_1349_ek1 {
	top: 499px;
	left: 220px;
	width: 139px;
	height: 63px;
	overflow: hidden;
	font-family: Genos;
	font-size: 32px;
	text-align: center;
	color:#000000;
}


#cube_t_shirt {
	top: 446px;
	left: 234px;
	width: 108px;
	height: 67px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#u {
	top: 30px;
	left: 24px;
	width: 33px;
	height: 31px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#arrow_1 {
	top: 642px;
	left: 173px;
	width: 29px;
	height: 0px;
}



/* Add your custom CSS here */
